@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #222224;
  color: rgba(255, 255, 255, 0.87);
}

button:hover {
  scale: 1.1;
  transition: scale 0.2s;
}

